@{
    ViewData["Title"] = "Blog";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my blog</h1>
</div>

<div>
    <ul>
        <li>
            <a asp-controller="Posts" asp-action="WelcomeToMyBlog">Welcome To My Blog!</a>
        </li>
    </ul>
</div>
