@{
    ViewBag.Title = "Privacy policy";
    ViewBag.Description = "My new blog's privacy policy";
    ViewBag.RelativeUrl = "privacy";
}

<h1>@ViewBag.Title</h1>

<p>Use this page to detail your site's privacy policy.</p>
