@using Microsoft.AspNetCore.Hosting;
@using StaticBlogTemplate.Utilities;

@inject IWebHostEnvironment environment;

@{
    Layout = "_Layout";

    // This assumes the name of the View/Markdown file is the same name as that of the Action in the Controller.
    // If you want to use another structure, you can add a property to the ViewBag/ViewData.
    var postName = ViewContext.RouteData.Values["action"]!.ToString();
    string markdownFilename = postName + ".md";
    var renderedMarkdown = PostManager.GetRenderedMarkdown(environment, markdownFilename);

    var post = PostManager.Posts[postName];

    ViewBag.Title = post.Title;
    ViewBag.Description = post.Description;
    ViewBag.RelativeUrl = post.RelativeUrl;

    IgnoreBody();
}

<h1>@ViewData["Title"]</h1>

<div class="blog-post-wrapper">
    @Html.Raw(renderedMarkdown)
</div>
